<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <i class="fa-solid fa-circle-check fa-5x text-success"></i>
                <p class="fs-3">Đặt Hàng Thành Công</p>
                <p class="fs-4">Sản phẩm sẽ được giao trong vòng 7 ngày</p>
                <div class="text-center">
                    <a href="/products" class="btn btn-primary">Trang Chủ</a> <a href="/user/user-orders"
                                                                            class="btn btn-primary">Đơn Hàng Của Bạn</a>
                </div>
            </div>
        </div>

    </div>
</section>
</body>
</html>